.range {
  position: relative;

  background: #c0c0c0; /* fallback if linear gradient not supported */
  background: linear-gradient(0deg, #e5e2e2, #c0bfbf);

  height: 22px;

  border: 1px solid #b4b2b2;
  border-radius: 1em;

  margin-top: 0.1em;
}

.range-progress {
  position: absolute;
  height: 100%;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.thumb {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fcfbfbef; /* fallback if linear gradient not supported */
  background: linear-gradient(0deg, #e5e2e2, #fcfbfbef);

  box-shadow: 0 0px 10px 0 rgb(0 0 0 / 15%);

  border-radius: 1em;

  border: 1px solid #b4b2b2;

  width: 50px;
  height: 22px;

  top: -1px;

  cursor: pointer;

  /* Disable text selection */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none; /* Non-prefixed version*/
}

.thumb > span {
  font-size: 0.7rem;
  font-weight: 500;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings */
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
}

.label {
  font-size: 0.9em;
  font-weight: 700;

  padding: 1em 0 0 0.5em;
}

.header {
  display: flex;
  justify-content: space-between;
}
